.journal-block
          .row
            .col-lg-4.col-md-6
              .journal-info
                a(href='blog-single.html')
                  img.img-responsive(src='images/blog-post-1.jpg', alt='img')
                .journal-txt
                  h4
                    a(href='blog-single.html') SO LETS MAKE THE MOST IS BEAUTIFUL
                  p.separator
                    | To an English person, it will seem like simplified English
            .col-lg-4.col-md-6
              .journal-info
                a(href='blog-single.html')
                  img.img-responsive(src='images/blog-post-2.jpg', alt='img')
                .journal-txt
                  h4
                    a(href='#blog-single.html') WE'RE GONA MAKE DREAMS COMES
                  p.separator
                    | To an English person, it will seem like simplified English
            .col-lg-4.col-md-6
              .journal-info
                a(href='blog-single.html')
                  img.img-responsive(src='images/blog-post-3.jpg', alt='img')
                .journal-txt
                  h4
                    a(href='blog-single.html') NEW LIFE CIVILIZATIONS TO BOLDLY
                  p.separator
                    | To an English person, it will seem like simplified English