doctype html
html(lang='fr')
  head
    // meta
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    title We are super Heroes
    meta(content='', name='keywords')
    meta(content='', name='description')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i', rel='stylesheet')
    // Bootstrap CSS File
    link(href='lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Libraries CSS Files
    link(href='lib/ionicons/css/ionicons.min.css', rel='stylesheet')
    link(href='lib/owlcarousel/assets/owl.carousel.min.css', rel='stylesheet')
    link(href='lib/magnific-popup/magnific-popup.css', rel='stylesheet')
    link(href='lib/hover/hover.min.css', rel='stylesheet')
    // Main Stylesheet File
    link(href='css/style.css', rel='stylesheet')
    // Responsive css
    link(href='css/responsive.css', rel='stylesheet')
    // Favicon
    link(rel='shortcut icon', href='images/icons/icon-72x72.png')
  body
    // start section navbar
    nav#main-nav
      .row
        .container
          .logo
            a(href='/')
              img(src='images/logo.png', alt='logo')
          .responsive
            i.ion-navicon-round(data-icon='m')
          ul.nav-menu.list-unstyled
            li
              a.smoothScroll(href='/') Home
            li
              a.smoothScroll(href='/#journal') Super Heroes
    // End section navbar
    // start section header
    block header
    // End section header
    // start section about us
    // end section about us
    // start section journal
    #journal.text-left.paddsection
      .container
        .section-title.text-center
          block titre_hero
      .container
        block content
        
    // End section journal
    // start section footer
    #footer.text-center
      .container
        .socials-media.text-center
          ul.list-unstyled
            li
              a(href='#')
                i.ion-social-facebook
            li
              a(href='#')
                i.ion-social-twitter
            li
              a(href='#')
                i.ion-social-instagram
            li
              a(href='#')
                i.ion-social-googleplus
            li
              a(href='#')
                i.ion-social-tumblr
            li
              a(href='#')
                i.ion-social-dribbble
       
    // End section footer
    // JavaScript Libraries
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='lib/jquery/jquery-migrate.min.js')
    script(src='lib/bootstrap/js/bootstrap.bundle.min.js')
    script(src='lib/typed/typed.js')
    script(src='lib/owlcarousel/owl.carousel.min.js')
    script(src='lib/magnific-popup/magnific-popup.min.js')
    script(src='lib/isotope/isotope.pkgd.min.js')
    // Contact Form JavaScript File
    script(src='contactform/contactform.js')
    // Template Main Javascript File
    script(src='//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js')
    script(src='js/main.js')
    script(src='./javascripts/main.js')
    
